<?xml version="1.0" encoding="ISO-8859-1"?> 

<!DOCTYPE web-app
   PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
   "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
 <display-name>SecuriBench micro-tests.</display-name>

 <description>
   SecuriBench micro-tests.
 </description>

	<servlet>
		<servlet-name>Basic30</servlet-name>
		<servlet-class>securibench.micro.basic.Basic30</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic30</servlet-name>
		<url-pattern>/Basic30</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Factories2</servlet-name>
		<servlet-class>securibench.micro.factories.Factories2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Factories2</servlet-name>
		<url-pattern>/Factories2</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StrongUpdates4</servlet-name>
		<servlet-class>securibench.micro.strong_updates.StrongUpdates4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StrongUpdates4</servlet-name>
		<url-pattern>/StrongUpdates4</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Inter13</servlet-name>
		<servlet-class>securibench.micro.inter.Inter13</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inter13</servlet-name>
		<url-pattern>/Inter13</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic14</servlet-name>
		<servlet-class>securibench.micro.basic.Basic14</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic14</servlet-name>
		<url-pattern>/Basic14</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Factories3</servlet-name>
		<servlet-class>securibench.micro.factories.Factories3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Factories3</servlet-name>
		<url-pattern>/Factories3</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StrongUpdates5</servlet-name>
		<servlet-class>securibench.micro.strong_updates.StrongUpdates5</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StrongUpdates5</servlet-name>
		<url-pattern>/StrongUpdates5</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Aliasing3</servlet-name>
		<servlet-class>securibench.micro.aliasing.Aliasing3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Aliasing3</servlet-name>
		<url-pattern>/Aliasing3</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic13</servlet-name>
		<servlet-class>securibench.micro.basic.Basic13</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic13</servlet-name>
		<url-pattern>/Basic13</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic28</servlet-name>
		<servlet-class>securibench.micro.basic.Basic28</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic28</servlet-name>
		<url-pattern>/Basic28</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Aliasing1</servlet-name>
		<servlet-class>securibench.micro.aliasing.Aliasing1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Aliasing1</servlet-name>
		<url-pattern>/Aliasing1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic4</servlet-name>
		<servlet-class>securibench.micro.basic.Basic4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic4</servlet-name>
		<url-pattern>/Basic4</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Pred6</servlet-name>
		<servlet-class>securibench.micro.pred.Pred6</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Pred6</servlet-name>
		<url-pattern>/Pred6</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Collections10</servlet-name>
		<servlet-class>securibench.micro.collections.Collections10</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Collections10</servlet-name>
		<url-pattern>/Collections10</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic22</servlet-name>
		<servlet-class>securibench.micro.basic.Basic22</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic22</servlet-name>
		<url-pattern>/Basic22</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Arrays10</servlet-name>
		<servlet-class>securibench.micro.arrays.Arrays10</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Arrays10</servlet-name>
		<url-pattern>/Arrays10</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic19</servlet-name>
		<servlet-class>securibench.micro.basic.Basic19</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic19</servlet-name>
		<url-pattern>/Basic19</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Aliasing2</servlet-name>
		<servlet-class>securibench.micro.aliasing.Aliasing2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Aliasing2</servlet-name>
		<url-pattern>/Aliasing2</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Datastructures6</servlet-name>
		<servlet-class>securibench.micro.datastructures.Datastructures6</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Datastructures6</servlet-name>
		<url-pattern>/Datastructures6</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic15</servlet-name>
		<servlet-class>securibench.micro.basic.Basic15</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic15</servlet-name>
		<url-pattern>/Basic15</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Inter4</servlet-name>
		<servlet-class>securibench.micro.inter.Inter4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inter4</servlet-name>
		<url-pattern>/Inter4</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic16</servlet-name>
		<servlet-class>securibench.micro.basic.Basic16</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic16</servlet-name>
		<url-pattern>/Basic16</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Collections12</servlet-name>
		<servlet-class>securibench.micro.collections.Collections12</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Collections12</servlet-name>
		<url-pattern>/Collections12</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Arrays6</servlet-name>
		<servlet-class>securibench.micro.arrays.Arrays6</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Arrays6</servlet-name>
		<url-pattern>/Arrays6</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Inter14</servlet-name>
		<servlet-class>securibench.micro.inter.Inter14</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inter14</servlet-name>
		<url-pattern>/Inter14</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Arrays9</servlet-name>
		<servlet-class>securibench.micro.arrays.Arrays9</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Arrays9</servlet-name>
		<url-pattern>/Arrays9</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Sanitizers6</servlet-name>
		<servlet-class>securibench.micro.sanitizers.Sanitizers6</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Sanitizers6</servlet-name>
		<url-pattern>/Sanitizers6</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Pred5</servlet-name>
		<servlet-class>securibench.micro.pred.Pred5</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Pred5</servlet-name>
		<url-pattern>/Pred5</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic9</servlet-name>
		<servlet-class>securibench.micro.basic.Basic9</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic9</servlet-name>
		<url-pattern>/Basic9</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic23</servlet-name>
		<servlet-class>securibench.micro.basic.Basic23</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic23</servlet-name>
		<url-pattern>/Basic23</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Arrays8</servlet-name>
		<servlet-class>securibench.micro.arrays.Arrays8</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Arrays8</servlet-name>
		<url-pattern>/Arrays8</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Inter6</servlet-name>
		<servlet-class>securibench.micro.inter.Inter6</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inter6</servlet-name>
		<url-pattern>/Inter6</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Pred2</servlet-name>
		<servlet-class>securibench.micro.pred.Pred2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Pred2</servlet-name>
		<url-pattern>/Pred2</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic40</servlet-name>
		<servlet-class>securibench.micro.basic.Basic40</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic40</servlet-name>
		<url-pattern>/Basic40</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Arrays2</servlet-name>
		<servlet-class>securibench.micro.arrays.Arrays2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Arrays2</servlet-name>
		<url-pattern>/Arrays2</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Collections11b</servlet-name>
		<servlet-class>securibench.micro.collections.Collections11b</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Collections11b</servlet-name>
		<url-pattern>/Collections11b</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic5</servlet-name>
		<servlet-class>securibench.micro.basic.Basic5</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic5</servlet-name>
		<url-pattern>/Basic5</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic7</servlet-name>
		<servlet-class>securibench.micro.basic.Basic7</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic7</servlet-name>
		<url-pattern>/Basic7</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Pred7</servlet-name>
		<servlet-class>securibench.micro.pred.Pred7</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Pred7</servlet-name>
		<url-pattern>/Pred7</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic6</servlet-name>
		<servlet-class>securibench.micro.basic.Basic6</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic6</servlet-name>
		<url-pattern>/Basic6</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Collections6</servlet-name>
		<servlet-class>securibench.micro.collections.Collections6</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Collections6</servlet-name>
		<url-pattern>/Collections6</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Arrays5</servlet-name>
		<servlet-class>securibench.micro.arrays.Arrays5</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Arrays5</servlet-name>
		<url-pattern>/Arrays5</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Refl4</servlet-name>
		<servlet-class>securibench.micro.reflection.Refl4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Refl4</servlet-name>
		<url-pattern>/Refl4</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Pred3</servlet-name>
		<servlet-class>securibench.micro.pred.Pred3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Pred3</servlet-name>
		<url-pattern>/Pred3</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic18</servlet-name>
		<servlet-class>securibench.micro.basic.Basic18</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic18</servlet-name>
		<url-pattern>/Basic18</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Factories1</servlet-name>
		<servlet-class>securibench.micro.factories.Factories1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Factories1</servlet-name>
		<url-pattern>/Factories1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic17</servlet-name>
		<servlet-class>securibench.micro.basic.Basic17</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic17</servlet-name>
		<url-pattern>/Basic17</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StrongUpdates3</servlet-name>
		<servlet-class>securibench.micro.strong_updates.StrongUpdates3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StrongUpdates3</servlet-name>
		<url-pattern>/StrongUpdates3</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Collections5</servlet-name>
		<servlet-class>securibench.micro.collections.Collections5</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Collections5</servlet-name>
		<url-pattern>/Collections5</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic39</servlet-name>
		<servlet-class>securibench.micro.basic.Basic39</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic39</servlet-name>
		<url-pattern>/Basic39</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Collections2</servlet-name>
		<servlet-class>securibench.micro.collections.Collections2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Collections2</servlet-name>
		<url-pattern>/Collections2</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Session2</servlet-name>
		<servlet-class>securibench.micro.session.Session2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Session2</servlet-name>
		<url-pattern>/Session2</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Inter5</servlet-name>
		<servlet-class>securibench.micro.inter.Inter5</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inter5</servlet-name>
		<url-pattern>/Inter5</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Sanitizers5</servlet-name>
		<servlet-class>securibench.micro.sanitizers.Sanitizers5</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Sanitizers5</servlet-name>
		<url-pattern>/Sanitizers5</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Collections3</servlet-name>
		<servlet-class>securibench.micro.collections.Collections3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Collections3</servlet-name>
		<url-pattern>/Collections3</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Arrays1</servlet-name>
		<servlet-class>securibench.micro.arrays.Arrays1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Arrays1</servlet-name>
		<url-pattern>/Arrays1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic26</servlet-name>
		<servlet-class>securibench.micro.basic.Basic26</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic26</servlet-name>
		<url-pattern>/Basic26</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Collections14</servlet-name>
		<servlet-class>securibench.micro.collections.Collections14</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Collections14</servlet-name>
		<url-pattern>/Collections14</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Collections1</servlet-name>
		<servlet-class>securibench.micro.collections.Collections1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Collections1</servlet-name>
		<url-pattern>/Collections1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Arrays7</servlet-name>
		<servlet-class>securibench.micro.arrays.Arrays7</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Arrays7</servlet-name>
		<url-pattern>/Arrays7</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Collections4</servlet-name>
		<servlet-class>securibench.micro.collections.Collections4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Collections4</servlet-name>
		<url-pattern>/Collections4</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StrongUpdates2</servlet-name>
		<servlet-class>securibench.micro.strong_updates.StrongUpdates2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StrongUpdates2</servlet-name>
		<url-pattern>/StrongUpdates2</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Datastructures2</servlet-name>
		<servlet-class>securibench.micro.datastructures.Datastructures2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Datastructures2</servlet-name>
		<url-pattern>/Datastructures2</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic32</servlet-name>
		<servlet-class>securibench.micro.basic.Basic32</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic32</servlet-name>
		<url-pattern>/Basic32</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Inter8</servlet-name>
		<servlet-class>securibench.micro.inter.Inter8</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inter8</servlet-name>
		<url-pattern>/Inter8</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StrongUpdates1</servlet-name>
		<servlet-class>securibench.micro.strong_updates.StrongUpdates1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StrongUpdates1</servlet-name>
		<url-pattern>/StrongUpdates1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic33</servlet-name>
		<servlet-class>securibench.micro.basic.Basic33</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic33</servlet-name>
		<url-pattern>/Basic33</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Inter12</servlet-name>
		<servlet-class>securibench.micro.inter.Inter12</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inter12</servlet-name>
		<url-pattern>/Inter12</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Pred1</servlet-name>
		<servlet-class>securibench.micro.pred.Pred1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Pred1</servlet-name>
		<url-pattern>/Pred1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic41</servlet-name>
		<servlet-class>securibench.micro.basic.Basic41</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic41</servlet-name>
		<url-pattern>/Basic41</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Session1</servlet-name>
		<servlet-class>securibench.micro.session.Session1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Session1</servlet-name>
		<url-pattern>/Session1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic34</servlet-name>
		<servlet-class>securibench.micro.basic.Basic34</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic34</servlet-name>
		<url-pattern>/Basic34</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Sanitizers1</servlet-name>
		<servlet-class>securibench.micro.sanitizers.Sanitizers1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Sanitizers1</servlet-name>
		<url-pattern>/Sanitizers1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Arrays4</servlet-name>
		<servlet-class>securibench.micro.arrays.Arrays4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Arrays4</servlet-name>
		<url-pattern>/Arrays4</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Inter2</servlet-name>
		<servlet-class>securibench.micro.inter.Inter2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inter2</servlet-name>
		<url-pattern>/Inter2</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Pred4</servlet-name>
		<servlet-class>securibench.micro.pred.Pred4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Pred4</servlet-name>
		<url-pattern>/Pred4</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic8</servlet-name>
		<servlet-class>securibench.micro.basic.Basic8</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic8</servlet-name>
		<url-pattern>/Basic8</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Inter7</servlet-name>
		<servlet-class>securibench.micro.inter.Inter7</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inter7</servlet-name>
		<url-pattern>/Inter7</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Inter9</servlet-name>
		<servlet-class>securibench.micro.inter.Inter9</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inter9</servlet-name>
		<url-pattern>/Inter9</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Collections13</servlet-name>
		<servlet-class>securibench.micro.collections.Collections13</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Collections13</servlet-name>
		<url-pattern>/Collections13</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic27</servlet-name>
		<servlet-class>securibench.micro.basic.Basic27</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic27</servlet-name>
		<url-pattern>/Basic27</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Collections11</servlet-name>
		<servlet-class>securibench.micro.collections.Collections11</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Collections11</servlet-name>
		<url-pattern>/Collections11</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic3</servlet-name>
		<servlet-class>securibench.micro.basic.Basic3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic3</servlet-name>
		<url-pattern>/Basic3</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Refl2</servlet-name>
		<servlet-class>securibench.micro.reflection.Refl2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Refl2</servlet-name>
		<url-pattern>/Refl2</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Aliasing4</servlet-name>
		<servlet-class>securibench.micro.aliasing.Aliasing4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Aliasing4</servlet-name>
		<url-pattern>/Aliasing4</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Datastructures5</servlet-name>
		<servlet-class>securibench.micro.datastructures.Datastructures5</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Datastructures5</servlet-name>
		<url-pattern>/Datastructures5</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic36</servlet-name>
		<servlet-class>securibench.micro.basic.Basic36</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic36</servlet-name>
		<url-pattern>/Basic36</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic10</servlet-name>
		<servlet-class>securibench.micro.basic.Basic10</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic10</servlet-name>
		<url-pattern>/Basic10</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Refl1</servlet-name>
		<servlet-class>securibench.micro.reflection.Refl1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Refl1</servlet-name>
		<url-pattern>/Refl1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic35</servlet-name>
		<servlet-class>securibench.micro.basic.Basic35</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic35</servlet-name>
		<url-pattern>/Basic35</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Sanitizers2</servlet-name>
		<servlet-class>securibench.micro.sanitizers.Sanitizers2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Sanitizers2</servlet-name>
		<url-pattern>/Sanitizers2</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Inter10</servlet-name>
		<servlet-class>securibench.micro.inter.Inter10</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inter10</servlet-name>
		<url-pattern>/Inter10</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic20</servlet-name>
		<servlet-class>securibench.micro.basic.Basic20</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic20</servlet-name>
		<url-pattern>/Basic20</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Pred9</servlet-name>
		<servlet-class>securibench.micro.pred.Pred9</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Pred9</servlet-name>
		<url-pattern>/Pred9</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Datastructures3</servlet-name>
		<servlet-class>securibench.micro.datastructures.Datastructures3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Datastructures3</servlet-name>
		<url-pattern>/Datastructures3</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Sanitizers3</servlet-name>
		<servlet-class>securibench.micro.sanitizers.Sanitizers3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Sanitizers3</servlet-name>
		<url-pattern>/Sanitizers3</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Aliasing6</servlet-name>
		<servlet-class>securibench.micro.aliasing.Aliasing6</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Aliasing6</servlet-name>
		<url-pattern>/Aliasing6</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic11</servlet-name>
		<servlet-class>securibench.micro.basic.Basic11</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic11</servlet-name>
		<url-pattern>/Basic11</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Pred8</servlet-name>
		<servlet-class>securibench.micro.pred.Pred8</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Pred8</servlet-name>
		<url-pattern>/Pred8</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic21</servlet-name>
		<servlet-class>securibench.micro.basic.Basic21</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic21</servlet-name>
		<url-pattern>/Basic21</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Inter11</servlet-name>
		<servlet-class>securibench.micro.inter.Inter11</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inter11</servlet-name>
		<url-pattern>/Inter11</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Datastructures4</servlet-name>
		<servlet-class>securibench.micro.datastructures.Datastructures4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Datastructures4</servlet-name>
		<url-pattern>/Datastructures4</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Inter1</servlet-name>
		<servlet-class>securibench.micro.inter.Inter1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inter1</servlet-name>
		<url-pattern>/Inter1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Datastructures1</servlet-name>
		<servlet-class>securibench.micro.datastructures.Datastructures1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Datastructures1</servlet-name>
		<url-pattern>/Datastructures1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Inter3</servlet-name>
		<servlet-class>securibench.micro.inter.Inter3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inter3</servlet-name>
		<url-pattern>/Inter3</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Refl3</servlet-name>
		<servlet-class>securibench.micro.reflection.Refl3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Refl3</servlet-name>
		<url-pattern>/Refl3</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic42</servlet-name>
		<servlet-class>securibench.micro.basic.Basic42</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic42</servlet-name>
		<url-pattern>/Basic42</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Sanitizers4</servlet-name>
		<servlet-class>securibench.micro.sanitizers.Sanitizers4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Sanitizers4</servlet-name>
		<url-pattern>/Sanitizers4</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic25</servlet-name>
		<servlet-class>securibench.micro.basic.Basic25</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic25</servlet-name>
		<url-pattern>/Basic25</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic12</servlet-name>
		<servlet-class>securibench.micro.basic.Basic12</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic12</servlet-name>
		<url-pattern>/Basic12</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Collections9</servlet-name>
		<servlet-class>securibench.micro.collections.Collections9</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Collections9</servlet-name>
		<url-pattern>/Collections9</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic29</servlet-name>
		<servlet-class>securibench.micro.basic.Basic29</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic29</servlet-name>
		<url-pattern>/Basic29</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic37</servlet-name>
		<servlet-class>securibench.micro.basic.Basic37</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic37</servlet-name>
		<url-pattern>/Basic37</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Aliasing5</servlet-name>
		<servlet-class>securibench.micro.aliasing.Aliasing5</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Aliasing5</servlet-name>
		<url-pattern>/Aliasing5</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic24</servlet-name>
		<servlet-class>securibench.micro.basic.Basic24</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic24</servlet-name>
		<url-pattern>/Basic24</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic31</servlet-name>
		<servlet-class>securibench.micro.basic.Basic31</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic31</servlet-name>
		<url-pattern>/Basic31</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Collections8</servlet-name>
		<servlet-class>securibench.micro.collections.Collections8</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Collections8</servlet-name>
		<url-pattern>/Collections8</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic1</servlet-name>
		<servlet-class>securibench.micro.basic.Basic1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic1</servlet-name>
		<url-pattern>/Basic1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic38</servlet-name>
		<servlet-class>securibench.micro.basic.Basic38</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic38</servlet-name>
		<url-pattern>/Basic38</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Arrays3</servlet-name>
		<servlet-class>securibench.micro.arrays.Arrays3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Arrays3</servlet-name>
		<url-pattern>/Arrays3</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Basic2</servlet-name>
		<servlet-class>securibench.micro.basic.Basic2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Basic2</servlet-name>
		<url-pattern>/Basic2</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Collections7</servlet-name>
		<servlet-class>securibench.micro.collections.Collections7</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Collections7</servlet-name>
		<url-pattern>/Collections7</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Session3</servlet-name>
		<servlet-class>securibench.micro.session.Session3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Session3</servlet-name>
		<url-pattern>/Session3</url-pattern>
	</servlet-mapping>

</web-app>