<!-- $Id: web.xml,v 1.2 2005/11/27 02:20:16 livshits Exp $ -->
<!-- This is a SAMPLE web.xml file. The real thing should me generated automatically by ant -->
<?xml version="1.0" encoding="ISO-8859-1"?> 

<!DOCTYPE web-app
   PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
   "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
 <display-name>SecuriBench micro-tests.</display-name>

 <description>
   SecuriBench micro-tests.
 </description>

    <servlet>
        <servlet-name>Collections2</servlet-name>
        <servlet-class>securibench.micro.collections.Collections2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Collections2</servlet-name>
        <url-pattern>/Collections2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Basic3</servlet-name>
        <servlet-class>securibench.micro.basic.Basic3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Basic3</servlet-name>
        <url-pattern>/Basic3</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Refl2</servlet-name>
        <servlet-class>securibench.micro.reflection.Refl2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Refl2</servlet-name>
        <url-pattern>/Refl2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Pred5</servlet-name>
        <servlet-class>securibench.micro.pred.Pred5</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Pred5</servlet-name>
        <url-pattern>/Pred5</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Basic14</servlet-name>
        <servlet-class>securibench.micro.basic.Basic14</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Basic14</servlet-name>
        <url-pattern>/Basic14</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Basic9</servlet-name>
        <servlet-class>securibench.micro.basic.Basic9</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Basic9</servlet-name>
        <url-pattern>/Basic9</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Collections3</servlet-name>
        <servlet-class>securibench.micro.collections.Collections3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Collections3</servlet-name>
        <url-pattern>/Collections3</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Basic23</servlet-name>
        <servlet-class>securibench.micro.basic.Basic23</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Basic23</servlet-name>
        <url-pattern>/Basic23</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Basic10</servlet-name>
        <servlet-class>securibench.micro.basic.Basic10</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Basic10</servlet-name>
        <url-pattern>/Basic10</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Pred2</servlet-name>
        <servlet-class>securibench.micro.pred.Pred2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Pred2</servlet-name>
        <url-pattern>/Pred2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Basic13</servlet-name>
        <servlet-class>securibench.micro.basic.Basic13</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Basic13</servlet-name>
        <url-pattern>/Basic13</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Refl1</servlet-name>
        <servlet-class>securibench.micro.reflection.Refl1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Refl1</servlet-name>
        <url-pattern>/Refl1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Sanitizers2</servlet-name>
        <servlet-class>securibench.micro.sanitizers.Sanitizers2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sanitizers2</servlet-name>
        <url-pattern>/Sanitizers2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Collections1</servlet-name>
        <servlet-class>securibench.micro.collections.Collections1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Collections1</servlet-name>
        <url-pattern>/Collections1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Basic20</servlet-name>
        <servlet-class>securibench.micro.basic.Basic20</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Basic20</servlet-name>
        <url-pattern>/Basic20</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Collections4</servlet-name>
        <servlet-class>securibench.micro.collections.Collections4</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Collections4</servlet-name>
        <url-pattern>/Collections4</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Basic11</servlet-name>
        <servlet-class>securibench.micro.basic.Basic11</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Basic11</servlet-name>
        <url-pattern>/Basic11</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StrongUpdates2</servlet-name>
        <servlet-class>securibench.micro.strong_updates.StrongUpdates2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StrongUpdates2</servlet-name>
        <url-pattern>/StrongUpdates2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Basic5</servlet-name>
        <servlet-class>securibench.micro.basic.Basic5</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Basic5</servlet-name>
        <url-pattern>/Basic5</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Basic7</servlet-name>
        <servlet-class>securibench.micro.basic.Basic7</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Basic7</servlet-name>
        <url-pattern>/Basic7</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Basic21</servlet-name>
        <servlet-class>securibench.micro.basic.Basic21</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Basic21</servlet-name>
        <url-pattern>/Basic21</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StrongUpdates1</servlet-name>
        <servlet-class>securibench.micro.strong_updates.StrongUpdates1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StrongUpdates1</servlet-name>
        <url-pattern>/StrongUpdates1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Pred7</servlet-name>
        <servlet-class>securibench.micro.pred.Pred7</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Pred7</servlet-name>
        <url-pattern>/Pred7</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Basic4</servlet-name>
        <servlet-class>securibench.micro.basic.Basic4</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Basic4</servlet-name>
        <url-pattern>/Basic4</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Basic6</servlet-name>
        <servlet-class>securibench.micro.basic.Basic6</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Basic6</servlet-name>
        <url-pattern>/Basic6</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Pred6</servlet-name>
        <servlet-class>securibench.micro.pred.Pred6</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Pred6</servlet-name>
        <url-pattern>/Pred6</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Inter1</servlet-name>
        <servlet-class>securibench.micro.inter.Inter1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inter1</servlet-name>
        <url-pattern>/Inter1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Basic22</servlet-name>
        <servlet-class>securibench.micro.basic.Basic22</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Basic22</servlet-name>
        <url-pattern>/Basic22</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Pred1</servlet-name>
        <servlet-class>securibench.micro.pred.Pred1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Pred1</servlet-name>
        <url-pattern>/Pred1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Inter3</servlet-name>
        <servlet-class>securibench.micro.inter.Inter3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inter3</servlet-name>
        <url-pattern>/Inter3</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Basic19</servlet-name>
        <servlet-class>securibench.micro.basic.Basic19</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Basic19</servlet-name>
        <url-pattern>/Basic19</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Basic12</servlet-name>
        <servlet-class>securibench.micro.basic.Basic12</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Basic12</servlet-name>
        <url-pattern>/Basic12</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Sanitizers1</servlet-name>
        <servlet-class>securibench.micro.sanitizers.Sanitizers1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sanitizers1</servlet-name>
        <url-pattern>/Sanitizers1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Inter2</servlet-name>
        <servlet-class>securibench.micro.inter.Inter2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inter2</servlet-name>
        <url-pattern>/Inter2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Pred4</servlet-name>
        <servlet-class>securibench.micro.pred.Pred4</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Pred4</servlet-name>
        <url-pattern>/Pred4</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Basic15</servlet-name>
        <servlet-class>securibench.micro.basic.Basic15</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Basic15</servlet-name>
        <url-pattern>/Basic15</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Pred3</servlet-name>
        <servlet-class>securibench.micro.pred.Pred3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Pred3</servlet-name>
        <url-pattern>/Pred3</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Inter4</servlet-name>
        <servlet-class>securibench.micro.inter.Inter4</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inter4</servlet-name>
        <url-pattern>/Inter4</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Basic8</servlet-name>
        <servlet-class>securibench.micro.basic.Basic8</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Basic8</servlet-name>
        <url-pattern>/Basic8</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Basic18</servlet-name>
        <servlet-class>securibench.micro.basic.Basic18</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Basic18</servlet-name>
        <url-pattern>/Basic18</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Basic16</servlet-name>
        <servlet-class>securibench.micro.basic.Basic16</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Basic16</servlet-name>
        <url-pattern>/Basic16</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Basic1</servlet-name>
        <servlet-class>securibench.micro.basic.Basic1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Basic1</servlet-name>
        <url-pattern>/Basic1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Basic2</servlet-name>
        <servlet-class>securibench.micro.basic.Basic2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Basic2</servlet-name>
        <url-pattern>/Basic2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Basic17</servlet-name>
        <servlet-class>securibench.micro.basic.Basic17</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Basic17</servlet-name>
        <url-pattern>/Basic17</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StrongUpdates3</servlet-name>
        <servlet-class>securibench.micro.strong_updates.StrongUpdates3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StrongUpdates3</servlet-name>
        <url-pattern>/StrongUpdates3</url-pattern>
    </servlet-mapping>

</web-app>